@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');body{
    margin: 0;
    height: auto;
    background-image: url(./src/bg.svg);
    background-repeat: repeat;
    background-size: 1700px;
    --margin: 60px ;
    cursor: url('./src/aim3.png') 40 40, auto;
    -ms-overflow-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

body:active{
    cursor: url('./src/aim4.png') 40 40, auto;
}

.container{
    height: 100%;
}

.content{
    display: flex;
    position: absolute;
    top: 0;
}


.header{
    display: flex;
    align-items: center;
    background-image: url('/src/titleBg.svg');
    min-height: 120px;
    max-height: 140px;
    height: 8vw;
    pointer-events: none;
}

#ntm{
    height: 70%;
    margin-bottom: 10px;
    margin-left: 60px;
    z-index: 100 ;
}

#titleMessage{
    margin-left: 20px;
    height: 50%;
    margin-right: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .1px;
    hyphens: auto;
    z-index: 100;
    color:#616161;

}

.sponsorLogo{
    display: flex;
    position: absolute;
    top: 190px;
    left: 20px;
    width: 3.3333vw;
    max-width: 39px;
    min-width: 32px;
    height: auto;
    z-index: 99;
    flex-direction: column;
    gap: 18px;
}
.sponsorLogo > div{
    margin-left: 190px;
}

.gun{
    z-index: 99;
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

.boom{
    z-index: 99;
    pointer-events: none;
}

.gun > img{
    position: absolute;
}
.boom > img{
    position: absolute;
    animation: slide-in 1s ; /* 애니메이션 이름과 지속 시간 설정 */
}

@keyframes slide-in {
    0% {
        scale: 2;
        opacity: 0.6; /* 시작할 때 투명도를 0으로 설정하여 나타남 효과 부여 */
    }
    10% {
        scale: 1;

        opacity: 1; /* 끝날 때 투명도를 1로 설정하여 나타남 효과 부여 */
    }
    100% {
        scale: 1;
        opacity: 1; /* 끝날 때 투명도를 1로 설정하여 나타남 효과 부여 */
    }

}

.column{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.column > div{
    height: 100%;
    background-repeat: repeat-y;
    max-width: 45px;
    min-width: 32px;
    width: 3.3333vw;
}
#leftColumn{
    margin-left: 0;
    background-image: url('/src/left_column.svg');
    
    
}



#rightColumn{
    margin-right: 0;
    background-image: url('/src/right_column.svg');
}



ul, li{
    margin:0;padding:0;list-style:none
}
.gallery{
    margin: 160px 90px;
    box-sizing:border-box;
}
.gallery:after{content:"";display:block;clear:both;visibility: hidden;}
.gallery li{width:14.2857%;float:left;box-sizing:border-box;padding:0 10px;margin:0 0 10px 0;}
.gallery li img{width:100%;height:auto;}




.docs{
    width: 75vw;
    height: 80vh;
    background-color: #F4F0E9;
    position: fixed;
    left: 50%;
    top: 50%;
    overflow: scroll;
    z-index: 102;
    transform: translate(-50%,-50%);
    display: none;
    overflow-x: hidden;
    flex-direction: column;
    border-radius: 6px;

}


.textBg{
    width: 100vw;
    height: 100vh;
    z-index: 101;
    background-color: black;
    opacity: .8;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.docsNav{
    position: sticky;
    top: 0;
    display: flex;
    height: 65px;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    z-index: 101;
    background: #F4F0E9;
    background-image: url('/src/docstitle.svg');
    background-repeat: repeat-x;
}

.cancel{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 12px;
    background-image: url('/src/x.svg');
    background-repeat: no-repeat;
}

.docsTitle{
    background-image: url('/src/docstitlemessage.svg');
    background-repeat: no-repeat;
    width: 40%;
    height: 40%;
    background-position: center;
}

.slide{
    display: flex;
    position: absolute;
    transition: transform 0s ease-in-out;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 100%;
    
}

.buttons{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.prev-btn, .next-btn {
    max-height: 50px;
    max-width: 100px;
    min-height: 30px;
    min-width: 30px;
    height: 4vw;
    width: 4vw;
    opacity: .9;
    border: none;
    background-repeat:  no-repeat;
    margin: 15px;
    background-color: rgba(255,255,255,0);
    cursor: url('./src/aim2.png') 40 40, auto;
}

.prev-btn:hover, .prev-btn:active, .next-btn:hover, .next-btn:active{
    opacity: 1;

}

.next-btn {
    background-image: url(./src/arrow.svg);
    transform: scaleX(-1); 
    right: 0;
}

.prev-btn {
    left: 0;
    background-image: url(./src/arrow.svg);
    visibility: hidden;

}



.slide > div{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: row;
    position: absolute;

    align-items: start;
    justify-content: center;

    top: 0;
    margin-top: 70px;
    
    }
    
    
    .characterimg, .photo{
        width: 50%;
        height: auto;
        margin-left: 7%;
        display: flex;
    justify-content: center;
    align-items: start;
    }
    .characterimg img{
        width: 90%;
        height: 90%;
        object-fit: contain;
        min-width: 140px;
        margin-top: 25px;
    
    }

    .texts{
        margin-right: 8%;
        margin-left: 10%;
        width: 50%;
        margin-top: 20px;
        font-size: 21px;
        line-height: 32px;
    }
    
    .texts > div{
        margin-bottom: -3px;
        transition: 1s;
    }
    b{
        padding-bottom: 19px;
    }
    
    .description, .characterdescription{
        padding-bottom: 30px;
    }
    
    

    .docscolumn{
        position: sticky;
        top: 60px;
        height: calc(100% - 60px);
        width: 100%;
        margin-top: -100px;
        z-index: -1;
        opacity: .6;
    
    }
    .docscolumn > div{
        height: 100%;
    transition-delay: filter .5s;
        background-repeat: repeat-y;
        z-index: 0;
    }
    .docs-column-left{
        position: absolute;
        left: -4px;
        max-width: 50px;
        min-width: 30px;
        width: 5%;
        background-image: url('/src/leftinner.svg');
        filter: invert(34%) sepia(58%) saturate(535%) hue-rotate(120deg) brightness(93%) contrast(90%);
        transition: filter 0s;
    }
    .docs-column-center{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/src/leftinner.svg');
        filter: invert(79%) sepia(81%) saturate(826%) hue-rotate(180deg) brightness(100%) contrast(89%);
        max-width: 30px;
        min-width: 15px;
        width: 3%;
    }
    
    .docs-column-right{
        position: absolute;
        max-width: 50px;
        min-width: 30px;
        width: 5%;
        right: -4px;
        background-image: url('/src/leftinner.svg');
        filter: invert(77%) sepia(59%) saturate(1932%) hue-rotate(329deg) brightness(97%) contrast(87%);


    
    }

    

@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translateY(-50%, -50%);
  }
}

.slide-up {
  animation: slideUp 0.5s cubic-bezier(0.34, 1.3, 0.64, 1);
}
@keyframes  opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: .8;
  }
}

.opacity-up {
  animation: opacityUp 0.4s ease;
}
@keyframes slideDown {
  from {
    transform: translateY(-50%, -50%);
  }
  to {
    transform: translate(-50%, 70%);

  }
}


.slide-down {
  animation: slideDown 0.4s  cubic-bezier(0.34, 1.3, 0.64, 1);
}
@keyframes  opacityDown {
  from {
    opacity: .8;
  }
  to {
    opacity: 0;
  }
}

@keyframes  opacityBounce {
    0% {
      opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.opacity-bounce{
    animation: opacityBounce 1s;
}


.opacity-down {
  animation: opacityDown 0.4s ease;
}


@media (max-width:2400px){
    .gallery{
        margin: 160px 65px;
    }
    .gallery li{width:16.6666%;float:left;box-sizing:border-box;padding:0 10px;margin:0 0 10px 0;}

    .sponsorLogo{
        left: 20px;
        top: 190px;
    }

    .texts{
        margin-right: 8%;
        margin-left: 10%;
        width: 50%;
        margin-top: 20px;
        font-size: 18px;
        line-height: 27px;
    }
}
@media (max-width:1500px){
    .container .gallery li{width:20%;}
    .gallery{
        margin: 140px 60px;

    }

    .sponsorLogo{
        left: 12px;
        top: 156px;
    }




}


@media (max-width:1100px){
    .container .gallery li{width:25%;}

    .slide > div{
        height: calc(100% - 60px);
        margin-top: 0px;
        align-items: start;
        justify-content: center;
    }

    #titleMessage{
        margin-left: 20px;
        height: 50%;
        margin-right: 60px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: .1px;
        hyphens: auto;
        z-index: 100;
    }

    
    .texts{
        width: 50%;
        margin-top: 80px;
        margin-right: 7.5%;
        margin-left: 7.5%;
        text-align: justify;
        font-size: 17px;
        line-height: 24px;

    }
    .characterimg{
        width: 50%;
        margin-left: 7%;
        margin-right: 0%;
        margin-top: 56px;    
}

    .characterimg img{
        width: 100%;
        height: 100%;
        object-fit: contain;       
    
    }

    .gallery{
        margin: 140px 50px;

    }
    .sponsorLogo{
        left: 12px;
        top: 156px;
    }
    .buttons{
        top: 48%;
        transform: translateY(-50%);
    }
    .prev-btn, .next-btn{
        height: 35px;
        width: 35px;
        margin: 7px;
    }




}
@media (max-width:768px){
    .container .gallery li{width:33.33333%;}
    .gallery{
        margin: 140px 45px;

    }

    .sponsorLogo{
        left: 10px;
        top: 156px;
    }

}
@media (max-width:650px){
    .container .gallery li{width:50%;}
    .gallery{
        margin: 140px 36px;

    }
    #titleMessage{
        height: calc(50% + 12px);
        margin-left: 16px;
        text-align: left;
        letter-spacing: 0.1px;
        font-weight: 400;
        word-spacing: -.4px;
        font-size: 13px;
        line-height: 17.5px;
        margin-right: 50px;
    }
    .sponsorLogo{
        left: 9px;
        top: 156px;
    }

    
    .slide > div{
        height: calc(100% - 60px);
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: start;

    }
    .texts{
        width: 78%;
        margin-right: 11%;
        margin-left: 11%;

    }
    .characterimg{
    width: 80%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: -60px;
    }

    .characterimg img{
        width: 90%;
        height: 90%;
        object-fit: contain;
        min-width: 270px;
        
    
    }

    .description, .characterdescription{
        padding-bottom: 16px;
    }

    .docs-column-left, .docs-column-right{
        width: 34px;
        opacity: .2;

    }
    .docs-column-center{
       opacity: .0;
       width: 26px;
    }

    .prev-btn, .next-btn{
        height: 36px;
        width: 36px;
        margin: 3px;
    }

}



@media (max-width:480px){

    .headerBg{
        width: 100%;
        height: 130px;
        background-color: #F5F0E9;
        top:0;
        margin:0;
        position: fixed;
        z-index: 99;

    }
    body{
        height: 100vh;
    }
    .header{
        justify-content: center;
        height: 160px;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        
    }

    #ntm{
        height: 51%;
        margin-left: -1px;
        margin-bottom: 5.5px;
        margin-top: 15px;
    }
    #titleMessage{
        height: calc(50% + 12px);
        margin-left: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        font-weight: 500;
        opacity: .87;
        word-spacing: -.2px;
        font-size: 12.8px;
        line-height: 16px;
        margin-right: 30px;
    }

    .sponsorLogo{
        width: 32px;
        left: 11px;
        top: 185px;
        gap: 8px;
        position: fixed;
        z-index: 101;
    }
    .gallery{
        margin: 158px 52px 50px;
    }
    .column > div{
        width: 32px;
        z-index: 100;
    }
    .container .gallery li{width:100%;}
    .gallery li{padding:0;margin:0 0 6px 0;}
    .docs{
        width: calc(100vw - 40px);
        height: calc(100vh - 170px);
        border-radius: 6px;
    }



.textBg{
    width: 110vw;
    height: 110vh;

}

    .docsNav{
        height: 60px;
    }
    .cancel{
        width: 28px;
        height: 28px;
        margin: 12px;
    }
    .docsTitle{
        width: 65%;
    }
    .buttons{
        top: 53%;
        transform: translateY(-50%);

    }
    .prev-btn, .next-btn{
        height: 42px;
        width: 42px;
        margin: 5px;
    }

    
    .slide > div{
        height: calc(100% - 60px);2
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: start;

    }
    .texts{
        width: 79%;
        margin-right: 10.2%;
        margin-left: 10.8%;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;

    }
    .characterdetail{
        text-align: left;


    }
    .characterimg{
    width: 80%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 54px;
    margin-bottom: -68px;
    }

    .characterimg img{
        width: 90%;
        height: 90%;
        object-fit: contain;
        min-width: 270px;   
        margin-top: 20px;
 
    }

    .description, .characterdescription{
        padding-bottom: 16px;
    }

    .docs-column-left, .docs-column-right{
        width: 34px;
        opacity: .2;

    }
    .docs-column-center{
       width: 26px;
       opacity: 0;
    }

}